.text {
  display: inline-block;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
}

.text--user {
  max-width: 75%;
  background: #4767eb;
  border-top-right-radius: 0;
}

.text--bot {
  max-width: 70%;
  background: #585858;
  border-top-left-radius: 0;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.typing-indicator {
  display: inline-flex;
  align-items: flex-end;
  justify-content: center;

  .dot {
    width: 2px;
    height: 2px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;

    animation: blink 1.4s infinite ease-in-out both;

    &:nth-child(1) {
      animation-delay: 0s;
    }
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0.2;
    transform: translateY(0);
  }
  40% {
    opacity: 1;
    transform: translateY(-5px);
  }
}
