.hint_root {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 12px;
  gap: 4px;
  border-radius: 2px;
  background: rgba(88, 88, 88, 0.2);
  font-size: 13px;
  color: white;
  word-break: break-all;

  &.hint_root__error {
    color: var(--asg-color-error);
  }

  .error_hint_title {
    display: flex;
    align-items: center;
    gap: var(--asg-spacing-2);
    color: var(--asg-color-error);
  }

  .error_hint_message {
    font-size: 12px;
    color: white;

    > span {
      border-bottom: 1px solid white;
      cursor: pointer;
    }
  }
}

.time {
  font-size: 12px;
  color: rgba(140, 140, 140, 1);
}
