.button {
  width: 3rem;
  height: 3rem;
  background: #2563eb;
  color: white;
  border-radius: 50%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.button:hover {
  background: #1d4ed8;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 0 4px #2563eb;
}

.chatbotContainer {
  position: absolute;
  bottom: 4rem;
  right: 0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.loadingText {
  color: var(--secondary);
}
