.chatbot_footer {
  .chatbot_footer__content {
    display: grid;
    align-items: flex-end;
    grid-template-columns: auto 24px;
    margin: 0 auto;
    max-width: 1200px;
    padding: var(--asg-spacing-3) var(--asg-spacing-4);
    gap: var(--asg-spacing-2);
  }
}

.chatbot_textarea {
  font: inherit;
  font-size: 16px;
  height: 36px;
  max-height: 240px;
  padding: 8px;
  padding-left: 12px;
  background: rgba(31, 31, 31, 1);
  border: 1px solid rgba(67, 67, 67, 1);
  border-radius: 2px;
  color: rgba(140, 140, 140, 1);
  resize: none;
  overflow: hidden;
}

.chatbot_submit_button {
  font: inherit;
  width: 24px;
  height: 100%;
  max-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  border: none;
  background: transparent;
  border-radius: 50%;
  color: white;
  cursor: pointer;

  > svg {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    width: auto;
    min-width: 16px;
    height: 60%;
    max-height: 38px;
    min-height: 16px;
  }

  &.chatbot_submit_button__disabled {
    > svg {
      > path {
        fill: rgba(140, 140, 140, 1);
      }
    }
  }
}
