.root__debug_panel {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 11;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.root__debug_button {
  border-radius: 5px;
  cursor: pointer;
  padding: 0.3rem 0.8rem;
  font-size: 12px;

  &--authenticated {
    border: 1px solid blue;
    color: blue;
  }

  &--need-api-key {
    border: 1px solid orange;
    color: orange;
  }

  &--loading {
    border: 1px solid gray;
    color: gray;
  }

  &--invalid-api-key {
    border: 1px solid red;
    color: red;
  }
}