.chatbot_body {
  border-top: 1px solid #434343;
  border-bottom: 1px solid #434343;
  overflow-x: hidden;
  overflow-y: scroll;

  .chatbot_body__content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    max-width: 1200px;
  }
}
