.chatbot_header {
  border-bottom: 1px solid #434343;

  .chatbot_header__content {
    margin: 0 auto;
    max-width: 1200px;
    padding: var(--asg-spacing-4);
    display: flex;
    justify-content: space-between;
  }
}

.chatbot_header__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--asg-spacing-2);

  > h4 {
    margin: 0;
    color: white;
  }
}

.chatbot_header__extra {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--asg-spacing-3);

  > div {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
      width: 15px;
      height: 15px;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
